<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>


<div class="card text-center m-3">
    
    <div class="card-body">
            <table class="table table-striped">
          
              <thead>
          
                  <tr>
          
                    <th>ID</th>
          
                    <th>Name</th>
          
                    <th>Email</th>
          
                    <th>Gender</th>
          
                  </tr>
          
              </thead>
          
              <tbody>
          
                <tr *ngFor="let user of users | paginate: { itemsPerPage: count, currentPage: p }">
          
                  <td>{{ user.UserId }}</td>
          
                  <td>{{ user.Id }}</td>
          
                  <td>{{ user.Title }}</td>
          
                  <td>{{ user.Body }}</td>
          
                </tr>
          
              </tbody>
          
            </table>
          
          </div>
        
          <div class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>


<div routerLink="/surprise" class="btn btn-primary">
    SURPRISE
</div>
  
